.zh-gl-3 img,.zh-gallery-dashboard .zh-gl-4 img{
    margin: 3% 0% 0% 2%;
    height: 124px;
}

.zh-gl-3 .img1{
    width: 433px;
}

.zh-gl-3 .img2{
    width: 151px;
}

.zh-gl-3 .img3{
    width: 316px;
}

.zh-gl-4 .img1{
    width: 312px;
}

.zh-gl-4 .img2{
    width: 152px;
}

.zh-gl-4 .img3{
    width: 152px;
}

.zh-gl-4 .img4{
    width: 271px;
}